<h1 class="users-sign-up">Login</h1>

<%= form_with url: login_path, local: true do |f| %>
    <div class="user-signup">
        <div class="user-sign-up">
            <div class="field">
                <%= f.label :email %><br>
                <%= f.text_field :email %>
            </div>

            <div class="field">
                <%= f.label :password %><br>
                <%= f.password_field :password %>
            </div>

            <div class="sign-up-btn">
                <%= f.submit "Login" %>
            </div>
        </div>
    </div>
<% end %>
