<h1 class="users-sign-up">sign up</h1>

<%= form_with model: @user, url: users_path, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="user-signup">
        <div class="user-sign-up">
            <div class="field">
                <%= f.label :name %>
                <%= f.text_field :name %>
            </div>

            <div class="field">
                <%= f.label :email %>
                <%= f.text_field :email %>
            </div>

            <div class="field">
                <%= f.label :password %>
                <%= f.password_field :password %>
            </div>

            <div class="field">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %>
            </div>

            <div class="sign-up-btn">
                <%= f.submit "sign up" %>
            </div>
        </div>
    </div>
<% end %>