<div class="main">
  <div class="index-picture">
    <%= image_tag "IMG_4313.jpg", class:"top-image" %>
  </div>

  <div class="items">
    <div class="item-contents">
      <h2>商品リスト</h2>
    </div>
    <ul class="item-lists">
    <% @items.each do |item|%>
      <% unless item.order.present? %>
        <li class="item-list">
          <%= link_to item_path(item.id), class: "item-content" do %>
            <div class = index-img-wrapper >
              <%= image_tag item.image, class: "item-image" if item.image.attached? %>
            </div>
            <div class="brand-name"><%= item.brand %></div>
            <div class="item-explain"><%= item.item_name %></div>
            <div class="item-price"><%= item.price %><b>円</b></div>
            <span class="item-delivery">無料配送</span>
          <% end %>
        </li>
      <% end %>
    <% end %>
    </ul>

  
  </div>
</div>